option_settings:
aws:elasticbeanstalk:application:environment:
HOME_URI: "http://sitekraken-env.mkayvqcuzz.sa-east-1.elasticbeanstalk.com"
DB_HOSTNAME: "" #PREENCHA COM AS INFORMAÇÕES CORRETAS
DB_NAME: "site_kraken"
DB_USER: "" #PREENCHA COM AS INFORMAÇÕES CORRETAS
DB_PASSWORD: "" #PREENCHA COM AS INFORMAÇÕES CORRETAS
DB_CHARSET: "utf8"
SITE_DEBUG: "false"
S3_ASSETS_BUCKET: "assets.kraken"
S3_ASSETS_REGION: "sa-east-1"
S3_ACCESS_KEY: "" #PREENCHA COM AS INFORMAÇÕES CORRETAS
S3_SECRET_KEY: "" #PREENCHA COM AS INFORMAÇÕES CORRETAS