option_settings:
  aws:elasticbeanstalk:application:environment:
    HOME_URI: "http://sitekraken-env.mkayvqcuzz.sa-east-1.elasticbeanstalk.com"
    DB_HOSTNAME: "site-kraken-db.cipj2uuzjnqh.sa-east-1.rds.amazonaws.com"
    DB_NAME: "site_kraken"
    DB_USER: "master"
    DB_PASSWORD: "Kraken2017"
    DB_CHARSET: "utf8"
    SITE_DEBUG: "false"
    S3_ASSETS_BUCKET: "assets.kraken"
    S3_ASSETS_REGION: "sa-east-1"
    S3_ACCESS_KEY: "AKIAINF5GNXNFSFLE2KA"
    S3_SECRET_KEY: "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"